grant {
    permission java.security.AllPermission;
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.util.PropertyPermission "*", "read,write";
};